<section>
  <div class="flex">
    <div class="input-wrapper flex-1">
      <label>First Name</label> <br />
      <input type="text" placeholder="John" />
    </div>
    <div class="input-wrapper flex-1">
      <label>Last Name</label> <br />
      <input type="text" placeholder="Smith" />
    </div>
  </div>
  <div class="flex">
    <div class="input-wrapper flex-1">
      <label>Email</label> <br />
      <input type="email" placeholder="email@gmail.com" />
    </div>
    <div class="input-wrapper flex-1">
      <label>Phone Number</label> <br />
      <input type="number" placeholder="+9876543210" />
    </div>
  </div>
  <div class="flex">
    <div class="input-wrapper flex-1">
      <label>Address</label> <br />
      <input type="email" placeholder="123 West Avenue, Toronto, ON, Canada" />
    </div>
  </div>
  <div class="flex">
    <button>Save</button>
  </div>
</section>
